# Node modules
node_modules/

# Playwright downloads/cache
.playwright/
test-results/
*.log

# Rapport de test
reports/
*.html
*.json
*.pdf
*.mp4

# Environnement
.env

# IDE/OS
.vscode/
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
